<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>

    <form method="post" action="/new">
        <div id="content" style="width: 220px; height: 200px">
            <div id="head" style="width: 220px; height: 30px">
                <input type="text" name='subject' placeholder="Memo"/>
                <input  type="submit" value="V" style="padding-left: 2px; border: 0; outline: 0; background-color: transparent; font-size: 9px; color: dodgerblue" />
                <input  type="button" value="X" style="padding-left: 2px; border: 0; outline: 0; background-color: transparent; font-size: 9px; color: crimson" />
            </div>
            <hr/>
            <div id="body" style="display: inline-block; width: 200px; height: 110px">
                <textarea name="content" style="width: 158px; height: 180px; resize: none"></textarea>
            </div>
        </div>
    </form>

</body>
</html>